

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional smooth font */
body {
  @apply bg-dark text-white;
}




body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

.app {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #000;
  padding: 20px;
}

.main {
  flex: 1;
  padding: 20px;
}

.song-item {
  padding: 10px;
  cursor: pointer;
}

.song-item:hover {
  background: #1db954;
}

.player {
  margin-top: 20px;
}

.controls button {
  margin: 5px;
  padding: 8px 12px;
  background: #1db954;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.controls button:hover {
  background: #1ed760;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.progress-container input[type="range"] {
  flex: 1;
  accent-color: #1db954;
  cursor: pointer;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.volume-control input[type="range"] {
  width: 100px;
  accent-color: #1db954;
  cursor: pointer;
}


.controls button.active {
  background: #1db954;
  color: black;
}
